<div class="pt-4 pb-4">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h4>Article - Create</h4>
        </div>
        <div class="col-sm-6">
          <div class="d-flex justify-content-end">
            <a class="btn btn-light" routerLink="/articles/list">Go to List</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <app-alert-notification
      [config]="alertNotificationConfig"
    ></app-alert-notification>

    <form
      action="post"
      [formGroup]="articleFormGroup"
      (submit)="submit()"
    >
      <!-- {{ articleFormGroup.value | json }} -->
      <div class="card mb-3">
        <div
          class="card-header d-flex justify-content-between align-items-center"
        >
          <h5 class="card-title"></h5>
          <div class="card-tools">
            <!-- Tools or buttons aligned to the right -->
            <button type="submit" class="btn btn-light">
              Submit
              <i class="bi bi-floppy"></i>
            </button>
            <button type="button" class="btn btn-light" (click)="resetForm()">
              Reset
              <i class="bi bi-arrow-clockwise"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 mb-3">
              <div class="form-group">
                <label class="mb-2" for="title">Title</label>
                @if(isFormSubmitted && getFormControl("title").invalid &&
                getFormControl("title").hasError("required")){
                <span class="text-danger float-end fw-bold">Required</span>
                }
                <input
                  type="text"
                  class="form-control"
                  id="title"
                  formControlName="title"
                />
              </div>
            </div>
            <div class="col-12 mb-3">
              <div class="form-group">
                <label for="categoryId" class="mb-2">Category</label>
                @if(isFormSubmitted && getFormControl("categoryId").invalid &&
                getFormControl("categoryId").hasError("required")){
                <span class="text-danger float-end fw-bold">Required</span>
                }
                <select
                  class="form-control"
                  id="categoryId"
                  formControlName="categoryId"
                >
                  <option value="">Select category</option>
                  @for(category of categories;track category.id){
                  <option value="{{ category.id }}">
                    {{ category.title }}
                  </option>
                  }
                </select>
              </div>
            </div>

            <div class="col-12 mb-3">
              <div class="form-group">
                <label for="txtCategory" class="mb-2">Description</label>
                @if(isFormSubmitted && getFormControl("description").invalid &&
                getFormControl("description").hasError("required")){
                <span class="text-danger float-end fw-bold">Required</span>
                }
                <textarea
                  formControlName="description"
                  type="text"
                  class="form-control"
                  rows="5"
                  id="txtDescription"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="card-footer">
                <small class="text-muted">Card Footer</small>
              </div> -->
      </div>
    </form>
  </div>
</div>
