<div class="pt-4 pb-4">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h4>Article - Create</h4>
        </div>
        <div class="col-sm-6">
          <div class="d-flex justify-content-end">
            <button class="btn btn-light">Go to List</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <app-alert-notification [config]="alertNotificationConfig"></app-alert-notification>
    <!-- <div role="alert" class="alert alert-danger alert-dismissible">
      <button type="button" aria-label="Close" class="close btn-close">
        <span aria-hidden="true" class="visually-hidden">×</span
        ><span class="sr-only visually-hidden">Close</span></button
      >You successfully read this important alert message.
    </div> -->
    <!-- <div class="alert alert-success">
      <b>Success!</b> Changes have been saved
      <span class="text-right">
        <b>X</b>
      </span>
    </div> -->
  </div>

  <div class="container">
    <div class="card mb-3">
      <div
        class="card-header d-flex justify-content-between align-items-center"
      >
        <h5 class="card-title"></h5>
        <div class="card-tools">
          <!-- Tools or buttons aligned to the right -->
          <button class="btn btn-light" (click)="test()">
            Submit
            <i class="bi bi-floppy"></i>
          </button>
          <button class="btn btn-light">
            Reset
            <i class="bi bi-arrow-clockwise"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <!-- Card content -->
        <!-- <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p> -->
        <form>
          <div class="row">
            <div class="col-12 mb-3">
              <div class="form-group">
                <label class="mb-2" for="txtTitle">Title</label>
                <input type="text" class="form-control" id="txtTitle" />
              </div>
            </div>

            <div class="col-12 mb-3">
              <div class="form-group">
                <label for="ddlCategory" class="mb-2">Category</label>
                <select class="form-control" id="ddlCategory">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>

            <div class="col-12 mb-3">
              <div class="form-group">
                <label for="txtCategory" class="mb-2">Description</label>
                <textarea
                  type="text"
                  class="form-control"
                  rows="5"
                  id="txtDescription"
                ></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- <div class="card-footer">
          <small class="text-muted">Card Footer</small>
        </div> -->
    </div>
  </div>
</div>
